.container{
    margin:0px;
    padding-left: 4rem;
    display: flex;
    background-color: black

}
.comments_section{
    margin-top: .2rem;
    padding:1rem;
}
.comment{
    margin:0rem 0rem;
}
.comments_profile{
    margin-bottom:.5rem;

}
.comments_profile .profile-text{
   margin-top: 2rem;
}
 .other_movies{
    display: flex;
    margin: 2rem;
    flex-direction: column;
}
.watch_container{
    color:white;
    margin-top:0;
    position:relative;
}

.list {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: black;
    cursor: pointer;
    color:white;
    border-radius: 5px;
    margin-bottom: 10px;
}
.list img{
    width:150px;
    height:100px
}
.list .text{
    display: inline;
}

.user_comment{
    border:2px solid red;
    margin-top:2rem;
    display:flex;
    flex-direction:row-reverse;
}